nav {
  padding: none;
  width: 100%;
  height: 70px;
  background: rgba(0, 0, 0, 0.61);
}
.sidebar-sticky > .nav {
  margin-left: 0px;
  margin-right: 0px;
}
.navbar-brand {
  /* padding: 50px 0 0 50px; */
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 81.4%;
  /* or 45px */

  color: #ffffff;
}

#map {
  /* position: absolute; */
  background-color: rgb(0, 56, 78);
}

.sidebar-sticky {
  position: sticky;
  top: 0;
  min-height: calc(100vh - 65px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  background: #1e1e1e;
}
.sidebar .nav-link {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 36px;
  display: flex;
  align-items: center;

  color: #ffffff;
}
.sidebar .nav.sub-menu .nav-item::before {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  margin-top: 16px;
  border-radius: 50%;
  background: #8e95aa;
}
.sidebar .nav:not(.sub-menu) {
  margin-top: 1rem;
  margin-left: 1.3rem;
  margin-right: 1.25rem;
}
.sidebar .nav {
  overflow: hidden;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-bottom: 60px;
}

#case-num {
  color: #ea8c35;
}

#recov-num {
  color: #08725f;
}

#vict-num {
  color: #b50122;
}
.tot-fig {
  font-size: 30px;
  border: none;
  background-color: #1e1e1e;
}

#case-tagline {
  margin: auto;
  color: #ffffff;
}
#center-num1 {
  color: #ea8c35;
}
#center-num2 {
  color: #08725f;
}
#center-num3 {
  color: #b50122;
}

.centre-fig {
  margin: 0em;
}
